In [1]:
# The code was removed by Watson Studio for sharing.

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [2]:
df_data_1.iloc[2:3,1:4].head() #iloc: where coloumn should be defined by indexes

   Clump Thickness  Uniformity of Cell Size  Uniformity of Cell Shape
2                3                        1                         1

In [3]:
df_data_1.loc[2:4,["Clump Thickness","Bare Nuclei"]]  #loc: where column should be defines by name

   Clump Thickness  Bare Nuclei
2                3            2
3                6            4
4                4            1

In [4]:
df_data_1.iloc[0:4]

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2

In [5]:
df_data_1.iloc[:,2:6].mean()    #evaluates mean values of columns defaultly

Uniformity of Cell Size        3.150805
Uniformity of Cell Shape       3.215227
Marginal Adhesion              2.830161
Single Epithelial Cell Size    3.234261
dtype: float64

In [6]:
df_data_1.iloc[:,2:5].mean(axis=1)   #evaluates mean value of rows when axis =1

0       1.000000
1       4.333333
2       1.000000
3       5.666667
4       1.666667
5       9.333333
6       1.000000
7       1.333333
8       1.000000
9       1.333333
10      1.000000
11      1.000000
12      3.000000
13      1.000000
14      7.333333
15      4.666667
16      1.000000
17      1.000000
18      6.666667
19      1.000000
20      5.000000
21      4.333333
22      1.000000
23      1.000000
24      3.000000
25      1.333333
26      1.000000
27      1.000000
28      1.666667
29      1.000000
         ...
653     9.333333
654     8.333333
655     1.666667
656     1.000000
657     2.000000
658     1.000000
659     2.000000
660     1.333333
661     1.000000
662     1.000000
663     1.000000
664    10.000000
665    10.000000
666     1.000000
667     1.000000
668     1.000000
669     1.000000
670     1.000000
671     1.000000
672     1.000000
673     1.000000
674     1.666667
675     8.333333
676     1.000000
677     1.000000
678     1.000000
679     1.000000
680     7.666667
681     6.000000
682     7.000000
Length: 683, dtype: float64

In [7]:
df_data_1.corr()  #evaluates the correlation between the variables

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
Sample code number,1.000000,-0.056350,-0.041396,-0.042221,-0.069630,-0.048644,-0.099248,-0.061966,-0.050699,-0.037972,-0.084701
Clump Thickness,-0.056350,1.000000,0.642481,0.653470,0.487829,0.523596,0.593091,0.553742,0.534066,0.350957,0.714790
Uniformity of Cell Size,-0.041396,0.642481,1.000000,0.907228,0.706977,0.753544,0.691709,0.755559,0.719346,0.460755,0.820801
Uniformity of Cell Shape,-0.042221,0.653470,0.907228,1.000000,0.685948,0.722462,0.713878,0.735344,0.717963,0.441258,0.821891
Marginal Adhesion,-0.069630,0.487829,0.706977,0.685948,1.000000,0.594548,0.670648,0.668567,0.603121,0.418898,0.706294
Single Epithelial Cell Size,-0.048644,0.523596,0.753544,0.722462,0.594548,1.000000,0.585716,0.618128,0.628926,0.480583,0.690958
Bare Nuclei,-0.099248,0.593091,0.691709,0.713878,0.670648,0.585716,1.000000,0.680615,0.584280,0.339210,0.822696
Bland Chromatin,-0.061966,0.553742,0.755559,0.735344,0.668567,0.618128,0.680615,1.000000,0.665602,0.346011,0.758228
Normal Nucleoli,-0.050699,0.534066,0.719346,0.717963,0.603121,0.628926,0.584280,0.665602,1.000000,0.433757,0.718677
Mitoses,-0.037972,0.350957,0.460755,0.441258,0.418898,0.480583,0.339210,0.346011,0.433757,1.000000,0.423448
Class,-0.084701,0.714790,0.820801,0.821891,0.706294,0.690958,0.822696,0.758228,0.718677,0.423448,1.000000

In [8]:
data = df_data_1["Clump Thickness"]>3
data.head()

0     True
1     True
2    False
3     True
4     True
Name: Clump Thickness, dtype: bool

In [9]:
filter = df_data_1[data]
filter.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
5,1017122,8,10,10,8,7,10,9,7,1,4

In [10]:
x= (df_data_1["Clump Thickness"]>6) & (df_data_1["Bare Nuclei"]>4)
filtered_data= df_data_1[x]
filtered_data.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
5,1017122,8,10,10,8,7,10,9,7,1,4
14,1044572,8,7,5,10,7,9,5,5,4,4
18,1050670,10,7,7,6,4,10,4,1,2,4
20,1054590,7,3,2,10,5,10,5,4,4,4
21,1054593,10,5,5,3,6,7,7,10,1,4

In [11]:
df_data_1[df_data_1["Clump Thickness"]==10]["Class"].plot(kind='hist')